body
{
    margin: 12px;
    font-family: Helvetica;
    font: 24px/1.8 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    width:80%;
    padding:20px 0;
    max-width:960px;
    margin:0 auto;
    color: #222;
    margin-bottom: 32px;
}


body.normal
{
    background-color: #FCFCFC;
    color: #222;
}
body.normal .button
{
    background-color: #222;
    color: #FCFCFC;
}

body.invert
{
    background-color: #222;
    color: #FCFCFC;
}
body.invert .button
{
    background-color: #FCFCFC;
    color: #222;
}

#color
{
    float: right;
    margin-top: 8px;
    margin-right: 6px;
}

iframe
{
    margin-left: 6px;
}
.button
{
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 15px;
    cursor: pointer;
}

h1
{
    text-align:left;
    font-family: "league-gothic-1","league-gothic-2";
    text-transform: uppercase;
    line-height:1;
    font-size:300%;
    /* Remember to set the correct font weight if using fontface */
    font-weight:normal;
}


p img
{
    float: left;
    background-color: #FFFFFF;
    margin-right: 24px;
    margin-top: 4px;
    padding: 8px;
    height: 215px;
    border: 1px solid #CCC;
}

