body
{
    font-size: 48px;
    margin: 12px;
    font-family: Helvetica;
}

body.normal
{
    background-color: #FFFFFF;
    color: #000000;
}
body.normal .button
{
    background-color: #000000;
    color: #FFFFFF;
}

body.invert
{
    background-color: #000000;
    color: #FFFFFF;
}
body.invert .button
{
    background-color: #FFFFFF;
    color: #000000;
}

#color
{
    position: absolute;
    right: 12px;
    top: 12px;
}
#unfold
{
    position: absolute;
    right: 40px;
    top: 12px;
}

.button
{
    width: 16px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    padding: 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}

li
{
    margin-bottom: 36px;
    margin-left: 36px;
    cursor: pointer;
}

ol
{
    font-weight: bold;
}

div.author
{
    float: right;
    text-align: right;
    margin-right: 24px;
    width: 50%;
    font-size: 32px;
    font-style: italic;
    cursor: pointer;
    margin-bottom: 24px;
}

div.author .explain
{
    float: right;
}

div.author img
{
    float: left;
    background-color: #FFFFFF;
    width: 20%;
    margin-right: 24px;
    margin-top: 4px;
    padding: 8px;
    border: 1px solid #CCC;
}

.explain
{
    font-size: 24px;
    font-weight: normal;
    line-height: 36px;
    margin-top: 24px;
    width: 800px;
    text-align: justify;
    display: none;
}